<div class="text-center mbe-8">
  <h2 class="text-3xl font-bold m-0 mbe-2 text-primary"><%= @header %></h2>
  <% if @summary %>
    <p class="text-lg text-subtle m-0"><%= @summary %></p>
  <% end %>
</div>
