<button type="button"
        id="<%= trigger_id %>"
        class="btn tabs__button"
        data-tabs-target="button"
        data-action="tabs#select"
        role="tab"
        aria-controls="<%= tab_id %>">
  <%= content %>
</button>
