<div data-controller="carousel">
  <% if paginations? && pagination_position == :top %>
    <div class="carousel__pagination">
      <% paginations.each do |pagination| %>
        <%= pagination %>
      <% end %>
    </div>
  <% end %>

  <div class="swiper" data-carousel-target="container">
    <div class="swiper-wrapper">
      <% slides.each do |slide| %>
        <%= slide %>
      <% end %>
    </div>
  </div>

  <%= navigation if navigation? %>

  <% if paginations? && pagination_position == :bottom %>
    <div class="carousel__pagination">
      <% paginations.each do |pagination| %>
        <%= pagination %>
      <% end %>
    </div>
  <% end %>
</div>
