<%= render Design::Layout::GridComponent.new(columns: 4) do |grid| %>
  <% 8.times do |i| %>
    <%= grid.with_item do %>
      <div class="pis-6 pie-6 pbs-6 pbe-6 border border-main rounded-lg bg-surface">
        <h3 class="text-lg font-semibold m-0 mbe-2">Item <%= i + 1 %></h3>
        <p class="text-sm text-subtle m-0">Grid item content goes here.</p>
      </div>
    <% end %>
  <% end %>
<% end %>
