<div style="max-width: 800px; margin: 0 auto; padding: var(--size-12);">
  <%= render Design::Navigation::Carousel::WidgetComponent.new do |widget| %>
    <% features.each do |feature| %>
      <% widget.with_slide do %>
        <div style="padding: var(--size-8);">
          <%= image_tag feature.preview.src, alt: feature.preview.caption, class: "w-full rounded-md" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

