<div class="text-center mbe-10">
  <h2 class="text-5xl font-bold m-0 mbe-4 text-primary"><%= @title %></h2>
  <% if @summary %>
    <p class="text-xl text-subtle m-0 leading-relaxed"><%= @summary %></p>
  <% end %>
</div>
