<button type="button" popovertarget="<%= @target %>" class="text-primary hamburger-component btn btn--icon hide@md" aria-label="<%= @aria_label %>">
  <%= image_tag "icons/menu.svg", size: 48, alt: "Menu" %>
</button>