<div style="max-width: 1000px; margin: 0 auto; padding: var(--size-12);">
  <%= render Design::Navigation::TabsComponent.new(variant: :responsive) do |c| %>
    <% tabs.each do |tab| %>
      <% c.with_tab(label: tab.header, summary: tab.summary) %>
    <% end %>
  <% end %>
</div>
