<div style="max-width: 800px; margin: 0 auto; padding: var(--size-12);">
  <%= render Design::Navigation::Tabs::WidgetComponent.new(variant: :vertical) do |widget| %>
    <% tabs.each do |tab| %>
      <% widget.with_button do %><%= tab.header %><% end %>
      <% widget.with_panel do %><p class="text-base m-0"><%= tab.summary %></p><% end %>
    <% end %>
  <% end %>
</div>
